<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Website Apis - Danzz Coding</title>    
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" type="image/x-icon" href="https://telegra.ph/file/ec82278be9bb39ac97f7f.jpg">    
    <audio autoplay="autoplay" hidden="hidden" src="https://l.top4top.io/m_2429eq8w10.mp3"></audio>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">DanzzCoding</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-home' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashboard</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-download' ></i>
            <span class="link_name">Download</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Download</a></li>
          <li><a href="/api/download/yt?url=https://youtu.be/Hddlp9c8-Zc&apikey=danzz">Youtube</a></li>
          <li><a href="/api/download/tiktok?url=https://vm.tiktok.com/ZSdECh2Y4&apikey=danzz">Tiktok</a></li>
          <li><a href="/api/download/instagram?url=URL_NYA&apikey=danzz">Instagram</a></li>
          <li><a href="/api/download/igreels?url=URL_NYA&apikey=danzz">Ig Reels</a></li>
          <li><a href="/api/download/igstory?username=ramdani_real01&apikey=danzz">Ig Story</a></li>
          <li><a href="/api/download/facebook?url=URL_NYA&apikey=danzz">Facebook</a></li>
          <li><a href="/api/download/twitter?url=URL_NYA&apikey=danzz">Twitter</a></li>
          <li><a href="/api/download/soundcloud?url=URL_NYA&apikey=danzz">Sound Cloud</a></li>          
        </ul>
      </li>
      <li>
      <div class="iocn-link">
          <a href="#">
            <i class='bx bx-video' ></i>
            <span class="link_name">Asupan</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Asupan</a></li>
          <li><a href="/api/asupan/santuy?apikey=danzz">Santuy</a></li>
          <li><a href="/api/asupan/bocil?apikey=danzz">Bocil</a></li>
          <li><a href="/api/asupan/ukhty?apikey=danzz">Ukhty</a></li>
          <li><a href="/api/asupan/geayubi?apikey=danzz">Geayubi</a></li>
          <li><a href="/api/asupan/rikagusriani?apikey=danzz">Rikagusriani</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-image' ></i>
            <span class="link_name">Cecan</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Cecan</a></li>
          <li><a href="/api/cecan/random?apikey=danzz">Random</a></li>
          <li><a href="/api/cecan/indonesia?apikey=danzz">Indonesia</a></li>
          <li><a href="/api/cecan/jepang?apikey=danzz">Jepang</a></li>
          <li><a href="/api/cecan/korea?apikey=danzz">Korea</a></li>
          <li><a href="/api/cecan/china?apikey=danzz">China</a></li>
          <li><a href="/api/cecan/thailand?apikey=danzz">Thailand</a></li>
          <li><a href="/api/cecan/vietnam?apikey=danzz">Vietnam</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-link-alt' ></i>
            <span class="link_name">Convert</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Convert</a></li>
          <li><a href="/api/convert/tourl?apikey=danzz">To Url</a></li>
          <li><a href="#">To Mp3</a></li>
          <li><a href="#">To Mp4</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">Stalk</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Stalk</a></li>
          <li><a href="/api/stalk/github?username=Ramdaniofficial&apikey=danzz">Github</a></li>
          <li><a href="/api/stalk/instagram?username=muhammadramdani19653&apikey=danzz">Instagram</a></li>
          <li><a href="/api/stalk/herodetail?hero=fanny&apikey=danzz">Hero</a></li>
        </ul>
      </li>
      <li>      	        
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-search' ></i>
            <span class="link_name">Search</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Search</a></li>
          <li><a href="/api/search/youtube?query=DanzzCoding&apikey=danzz">Youtube</a></li>
          <li><a href="/api/search/pinterest?query=cecan&apikey=danzz">Pinterest</a></li>          
          <li><a href="/api/search/modapk?query=pou&apikey=danzz">Mod Apk</a></li>
          <li><a href="/api/search/shopee?query=hp&apikey=danzz">Shopee</a></li>        
        </ul>
      </li>
      <li>
      	<div class="iocn-link">
          <a href="#">
            <i class='bx bx-game' ></i>
            <span class="link_name">Game</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Game</a></li>
          <li><a href="/api/game/tebaklirik?apikey=danzz">Tebak Lirik</a></li>
          <li><a href="/api/game/tebakkimia?apikey=danzz">Tebak Kimia</a></li>
          <li><a href="/api/game/tebakjenaka?apikey=danzz">Tebak Jenaka</a></li>
          <li><a href="/api/game/tebakbendera?apikey=danzz">Tebak Bendera</a></li>
          <li><a href="/api/game/tebakgambar?apikey=danzz">Tebak Gambar</a></li>
          <li><a href="/api/game/caklontong?apikey=danzz">Cak Lontong</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-text' ></i>
            <span class="link_name">Text Pro</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Text Pro</a></li>
          <li><a href="/api/textpro/halloween?text=yourtext&apikey=danzz">Halloween</a></li>
          <li><a href="/api/textpro/rainbow?text=yourtext&apikey=danzz">Rainbow</a></li>
          <li><a href="/api/textpro/scfi?text=yourtext&apikey=danzz">Scfi</a></li>
          <li><a href="/api/textpro/blue?text=yourtext&apikey=danzz">Blue</a></li>
          <li><a href="/api/textpro/juice?text=yourtext&apikey=danzz">Juice</a></li>
          <li><a href="/api/textpro/purple?text=yourtext&apikey=danzz">Purple</a></li>
          <li><a href="/api/textpro/toxic?text=yourtext&apikey=danzz">Toxic</a></li>
          <li><a href="/api/textpro/peridot?text=yourtext&apikey=danzz">Peridot</a></li>
          <li><a href="/api/textpro/metal?text=yourtext&apikey=danzz">Metal</a></li>
          <li><a href="/api/textpro/realistic?text=yourtext&apikey=danzz">Realistic</a></li>
          <li><a href="/api/textpro/impressive?text=yourtext&apikey=danzz">Impressive</a></li>
          <li><a href="/api/textpro/cracked?text=yourtext&apikey=danzz">Cracked</a></li>
          <li><a href="/api/textpro/magma?text=yourtext&apikey=danzz">Magma</a></li>
          <li><a href="/api/textpro/thunder?text=yourtext&apikey=danzz">Thunder</a></li>
          <li><a href="/api/textpro/berry?text=yourtext&apikey=danzz">Berry</a></li>
          <li><a href="/api/textpro/transformer?text=yourtext&apikey=danzz">Transformer</a></li>
          <li><a href="/api/textpro/horror?text=yourtext&apikey=danzz">Horror</a></li>
          <li><a href="/api/textpro/metallic?text=yourtext&apikey=danzz">Metallic</a></li>
          <li><a href="/api/textpro/circuit?text=yourtext&apikey=danzz">Circuit</a></li>
          <li><a href="/api/textpro/sketch?text=yourtext&apikey=danzz">Sketch</a></li>
        </ul>
      </li>
      <li>
      	<div class="iocn-link">
          <a href="#">
            <i class='bx bx-edit' ></i>
            <span class="link_name">Canvas</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Canvas</a></li>
          <li><a href="/api/canvas/sadcat?text=Udin&apikey=danzz">Sadcat</a></li>
 	     <li><a href="/api/canvas/facts?text=Udin&apikey=danzz">Facts</a></li>
	      <li><a href="/api/canvas/pikachu?text=Udin&apikey=danzz">Pikachu</a></li>
   	   <li><a href="/api/canvas/biden?text=Udin&apikey=danzz">Biden</a></li>
  	    <li><a href="/api/canvas/oogway?text=Udin&apikey=danzz">Oogway</a></li>
 	     <li><a href="/api/canvas/gun?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=danzz">Gun</a></li>
  	    <li><a href="/api/canvas/alert?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=danzz">Alert</a></li>
   	   <li><a href="/api/canvas/greyscale?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=danzz">Grey Scale</a></li>
          <li><a href="/api/canvas/ad?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=danzz">Ad</a></li>
          <li><a href="/api/canvas/blur?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=danzz">Blur</a></li>
          <li><a href="/api/canvas/uncover?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=danzz">Uncover</a></li>
          <li><a href="/api/canvas/invert?url=https://w0.peakpx.com/wallpaper/11/65/HD-wallpaper-anime-girl-loli-cute-brown-hair-twintails-anime.jpg&apikey=danzz">Invert</a></li>
		</ul>
      </li>
      <li>
      	<div class="iocn-link">
          <a href="#">
            <i class='bx bx-images' ></i>
            <span class="link_name">Wallpaper</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Wallpaper</a></li>
          <li><a href="/api/wallpaper/wallml?apikey=danzz">Wallml</a></li>
          <li><a href="/api/wallpaper/wallrandom?apikey=danzz">Wallrandom</a></li>
          <li><a href="/api/wallpaper/wallcode?apikey=danzz">Wallcode</a></li>
          <li><a href="/api/wallpaper/wallneon?apikey=danzz">Wallneon</a></li>
          <li><a href="/api/wallpaper/wallpubg?apikey=danzz">Wallpubg</a></li>
          </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-compass' ></i>
            <span class="link_name">Random</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
         <li><a class="link_name" href="#">Random</a></li>
      <li><a href="/api/random/jumlahangka?text=82732&apikey=danzz">Jumlah Angka</a></li>
    <li><a href="/api/random/jumlahhuruf?text=wwkaisv&apikey=danzz">Jumlah Huruf</a></li>
    <li><a href="/api/random/besarkecil?text=osjwux&apikey=danzz">Besar Kecil</a></li>
    <li><a href="/api/random/resepmasakan?text=bakso&apikey=danzz">Resep Masakan</a></li>
    <li><a href="/api/random/katajago?text=cantik&apikey=danzz">Kata Jago</a></li>
    <li><a href="/api/random/artimimpi?text=ular&apikey=danzz">Arti Mimpi</a></li>
    <li><a href="/api/random/artinama?text=nayla&apikey=danzz">Arti Nama</a></li>
    <li><a href="/api/random/kapital?text=osiwmsp&apikey=danzz">Kapital</a></li>
    <li><a href="/api/random/halah?text=halo&apikey=danzz">Halah</a></li>
    <li><a href="/api/random/huluh?text=halo&apikey=danzz">Huluh</a></li>
    <li><a href="/api/random/heleh?text=hallo&apikey=danzz">Heleh</a></li>
    <li><a href="/api/random/bilangangka?text=9273202&apikey=danzz">Bilang Angka</a></li>
    <li><a href="/api/random/balikangka?text=0274101&apikey=danzz">Balik Angka</a></li>
    <li><a href="/api/random/balikhuruf?text=jaheoxlam&apikey=danzz">Balik Huruf</a></li>
        </ul>
      </li>
      <li>
        <a href="/checkapikey">
          <i class='bx bx-file' ></i>
          <span class="link_name">Check Apikey</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/checkapikey">Check Apikey</a></li>
        </ul>
      </li>
      <li>
        <a href="https://youtube.com/DanzzCoding">
          <i class='bx bx-code' ></i>
          <span class="link_name">Source code</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="https://youtube.com/DanzzCoding">Source code</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-link' ></i>
            <span class="link_name">Sosmed</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Sosmed</a></li>
          <li><a href="mailto:danzzcoding@gmail.com">Email</a></li>
          <li><a href="https://github.com/Ramdaniofficial">Github</a></li>
          <li><a href="https://youtube.com/DanzzCoding">Youtube</a></li>
          <li><a href="https://instagram.com/ramdani_real01">Instagram</a></li>
          <li><a href="https://www.facebook.com/profile.php?id=100055274594084">Facebook</a></li>
          <li><a href="https://wa.me/6289512545999">WhatsApp</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        
      </div>
      <div class="name-job">
        <div class="profile_name">DanzzCoding</div>
        <div class="job">Developer</div>
      </div>
      <a href="/login">
      <i class='bx bx-log-out' ></i>
      </a>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Danzz Api</span>
    </div>
    <div class="container-fluid" id="container-wrapper">
                    <div class="card h-50 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md-left font-weight-bold mb-2 text-primary">Hai, Selamat Datang Di Website Apis - Danzz Coding</div>
                                    <div class="text-sm-left mb-0 font-weight-bold">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-quote-right fa-2x text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
                                            <div class="h5 mb-0 font-weight-bold" id="visitor">5963</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-eye fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">User</div>
                                            <div class="h5 mb-0 font-weight-bold" id="visitor">4769</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-eye fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Battery</div>
                                            <span id="battery_level" class="h5 mb-0 font-weight-bold">Waiting... </span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-battery-full" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                                                      

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Time</div>
                                            <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">Waiting...</div>
                                            <div class="h5 mb-0 font-weight-bold" id="text-xsfont-weight-boldtext-uppercase-mb-1"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="findipurl"> <a href="find-ip.net" ></a></div>

                <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23152232&border=%230e1824&textcol=%23d3d5f3&language=0&system=0&"></script>


                    <div class="Box mt-4">
                        <div class="Box-body p-4">
                          <div class="d-flex flex-justify-between">
                            <div class="text-mono text-small mb-3">
                            </div>
                         </div>
					 </div>
				  </div>
			  </div>
	      </div>                
  	</section>  
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
</body>
</html>